:root{
  --primary-color:#ff2626;
  --secondary-color:#794afa;
  --secondary-dark-color:#453c5c;

  --white-color:#ffffff;
  --light-bg-color:#f2f3f5;
  --light-text-color:#7c899a;
  --border-color:#e5e8ec;
  --dark-color:#000000;

  --font-small:13px;
  --font-smaller:11px;

  --percent100:100%;
  --percent50:50%;

  --fw3:300;
  --fw5:500;
  --fw6:600;
  --fw7:700;
  --fw8:800;

  --trans-background-color:background-color .3s, color .3s;
  --trans-background:background-color .3s;
  --trans-color:color .3s;

}

*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.container_menu{
  display: flex;
  align-items: center;
  background-color: var(--dark-color);
  width:var(--percent100);
  height: 80px;
}
.container_menu a {
color:var(--white-color);
}
.container_menu ul li{
  position: relative;
  left: 200px;
  padding: 15px;
  display: inline;
  font-weight: var(--fw7);
}
.container_menu span{
  position: relative;
  left: 180px;
  padding-left: 10px;
}
i{
  position: relative;
  top: 0;
  right: 8px;
}
#heart{
  position: absolute;
  top: 0;
  left: 90px;
  font-size: 25px;

}
.add_value{
  display: inline;
  position: absolute;
  left: 94.5px;
  top: 1.5px;
  color:rgb(0, 0, 0);
}


/* hide laptop mode */
.android_menu{
  display: none;
}
.menu-box{
  display: none;
}
/* moblie size assign */
@media only screen  and (max-width:992px) {
  .container_menu{
    display: flex;
    align-items: center;
    background-color: var(--dark-color);
    width:var(--percent100);
    height: 50px;
    box-sizing: border-box;
  }
  .container_menu ul li{
    display: none;
  }
  .container_menu ul li{
    display: none;
  }
  .menu_rupees{
    top: 13px;
    position: absolute;
    left: 180px;
    font-weight: var(--fw6); 
    font-size: medium;
    color:var(--white-color);
  }
  .menu_buy{
    top: 13px;
    margin-left: 30px;
    font-size: 20px;
    position: absolute;
    left: 240px;
    color: var(--white-color);
  }
  .android_menu{
    display: block;
    position: absolute;
    background-color: rgb(0, 0, 0);
    width:var(--percent100);
    height: 50px;
    align-items: center;
  }
  .android_menu_end{
    color: var(--white-color);
    position: absolute;
    left: 330px;
    top: 10px;
    font-size: 25px;
  }
  .menu_heart_android{
    color: var(--white-color);
    position: absolute;
    left: 290px;
    top: 5px;
    font-size: 20px;
  }
  .add-to-cart-total{
    color: black;
    font-weight: var(--fw8);
    position: absolute;
    font-size: 11.5px;
    left: 286px;
    top: 7.5px;
  }
  /* menu open close silder */
  .menu-box{
    position: relative;
    float: right;
    background: #000000;
    width: 140px;
    height: 340px;
  }
  .menu-box ul a{
    color:var(--white-color);
  }
  .menu-box ul li{
    position: relative;
    top: 25px;
    left: 25px;
    list-style: none;
    font-size: 14px;
    font-weight: var(--fw6);
    line-height: 30px;
  }
  .profile_box img{
    position: relative;
    left: 36px;
    top: 10px;
    border: 3px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  } 
  .menu-box h1{
position: relative;
left: 43px;
top: 15px;
color: var(--white-color);
text-transform: capitalize;
font-size: 15px;
  }
  .menu-box .profile_box{
    background-color: #5f5f5f;
    height: 100px;
    
  }
  .close_icon{
    color: white;
    position: relative;
    left: 20px;
  }
}