body {

    margin: 0;
    padding: 0;
  }
  a{
    color: rgb(0, 0, 177);
  }
  #swich_page{
    position: relative;
     top:-80px; 
     left: -25px;
     text-align: center;
     font-size: 18px;
  }
  #login_profile{
    position: relative;
    left: 140px;
    top: 30px;
  }
  .container {
    position: relative;
    top: 5em;
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
    height:28em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="password"]{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button {
    position: relative;
    top: 50px;
    width: 50%;
    left: 80px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  input{
    position: relative;
    top: 50px;
  }
  p{
    position: relative;
    top: 70px;
  }
  #password_icon{
    font-size: 20px;
    position: relative;
    top: 10px;
    float: right;
    cursor: pointer;
  }

  @media only screen  and (max-width:992px) {
    .container {
      height: 60vh;
      }
      #login_profile{
        position: relative;
        left: 100px;
        top: 30px;
      }
      #swich_page{
        position: relative;
         top:-80px; 
         text-align: center;
      }
    }